<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Blocipedia</h1>
          <p class="lead">An application for users to create, collaborate and share wikis.</p>
          <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Create</h4>
            <p class="card-text">Produce your own content.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Collaborate</h4>
            <p class="card-text">Work jointly on a project!</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Share</h4>
            <p class="card-text">Share the wikis that are important to you!</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>
