<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>

        <%include ../static/partials/navbar.ejs %>

        <main class="container">
            <% include ../static/partials/messages.ejs %>

            <h1> Upgrade successful, you've been charged $10.00. Enjoy the premium features!</h1>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html> 
