<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>

        <%include ../static/partials/navbar.ejs %>

        <main class="container">
            <% include ../static/partials/messages.ejs %>

	    <header class="jumbotron my-4">
            	<h1 class=display-3> Upgrade successful. </h1>
		<p class="lead">You've been charged $10.00. Enjoy the premium features!</p>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html> 
